.DS_Store
map
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
turnstile_data_master_with_weather.csv
.ipynb_checkpoints/*
enron_mail_20110402/*
prosperLoanData.csv
*.jpg